body {
background-image: url(https://simpsonentreamis.files.wordpress.com/2015/12/background-donut-the-simpsons-wallpaper-favim-com-2619736.jpg);
}

.watching {
    width: 85%;
    height: 680px;
    margin-left: 7.5%;
    margin-right: auto;
    margin-top: 2.5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#ffddf5;
}

.centered {
    font-family: 'Kalam', cursive;
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-40%, -60%);
    font-size: 50px;
}

.container {
    background-color: #ffe4d3;
    width: 85%;
    margin-bottom: 2.5%;
    padding-bottom: 25px;
}

#collector {
    font-family: 'Kalam', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
}

.instructions {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    margin: 40px;
    text-align: center;
}

button {
    background-color: transparent;
    border-color: transparent;
}
.d1 {
    width: 150px;
    height: 150px;
}

.d1:hover {
    width: 145px;
    height: 145px;
}

.d1:active {
    padding-top: 10px;
}

button:focus {
    outline: 0;
}

.four {
    margin-left: 35px;
}

.res1, .res2 {
    font-family: 'Kalam', cursive;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

p {
    margin: 20px;
}

.res2 {
    margin-left: 25px;
}